<div class="container mt-5 ml-5">

    <div class="row ml-5">
        <div *ngFor="let job of listJobs" class="col-lg-4 col-md-2 mt-5">
            <div class="card" style="width: 18rem;">
                <div class="mt-4">
                    <img style="width:50%;" src={{job.company_logo}}>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{job.title.substring(0, 20)}}....</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{job.created_at}}</h6>
                    <p class="card-text" [innerHTML]="job.description.substring(0, 150)"></p>
                    <a href="#" class="card-link d-flex justify-content-end" data-toggle="modal"
                        data-target="#exampleModal" (click)="showInfo(job.id)">View Job</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="">
                        <div class="">
                            <img style="width:50%;" src={{moreInfo.company_logo}}>
                        </div>

                        <h2 class="modal-title pr-5" id="exampleModalLabel">{{moreInfo.title}}</h2>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="card-text" [innerHTML]="moreInfo.description"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href={{moreInfo.url}} type="button" class="btn btn-primary">Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>